extends ../layout.pug

block content
  form(method='post', action='/api/user/login')
    div.form-element(class=errors['email'] ? 'field-error': 'ok')
      label(for='email') Email
      input(type='email', id='email', name='email')
      div.error-message= errors['email'] ? errors['email'].msg : ''
    div.form-element(class=errors['password'] ? 'field-error': 'ok')
      label(for='password') Password
      input(type='password', id='password', name='password')
      div.error-message= errors['password'] ? errors['password'].msg : ''
    div.form-buttons
      button(type='submit') Login
